@page "/mihistoria"

<h3>Mihistoria</h3>
<div class="row">
    <div class="card col border border-1 border-dark rounded p-2 m-3">
        <img src="images/4192781.png"/>
        <h2>Formación</h2>
        <p>Estudio ingenieria de software en la UdeC</p>
        <button class="btn btn-primary">Conocer mas</button>
    </div>
    
    <div class="card col border border-1 border-dark rounded p-2 m-3">
        <img src="images/1680118995_62112_url.jpeg"/>
        <h2>Hobbies</h2>
        <p>Me gusta escuchar música</p>
        <button class="btn btn-primary">Conocer mas</button>
    </div>
    
    
    <div class="card col border border-1 border-dark rounded p-2 m-3">
        <img src="images/170222-ingenieria-software-puestos-trabajo.jpg"/>
        <h2>Mi carrera</h2>
        <p>Espero tener la oportunidad de trabajar en el extranjero</p>
        <button class="btn btn-primary">Conocer mas</button>
    </div>
</div>
@code {
    
}